<ion-header>
  <ion-navbar color="primary">
    <ion-title>Teams</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item-group *ngFor="let devision of teams">
      <ion-item-divider color="secondary">{{devision.divisionName}}</ion-item-divider>
      <button ion-item *ngFor="let team of devision.divisionTeams" (click)="itemTapped($event, team)">
          {{team.name}}
      </button>
    </ion-item-group>
  </ion-list>
  <ion-list>
  </ion-list>
</ion-content>
